{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'channel/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'channel/css/style.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Channels</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if user.is_authenticated %}
                <h1>{{ user.username }}</h1>
                <button id="signout" type="submit" class="btn btn-success">Sign out</button>
                <button id="_new" type="submit" class="btn btn-success">New</button>
            {% else %}
                <button id="signin" type="submit" class="btn btn-success">Sign in</button>
                <button id="signup" type="submit" class="btn btn-success">Sign up</button>
            {% endif %}
        </div>
    </div>
</nav>

<div class="jumbotron"></div>

<div class="container">
    {% block body %}{% endblock %}
    <hr>
    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div>
<script src="{% static 'channel/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'channel/js/bootstrap.min.js' %}"></script>
<script>
    var signin = document.getElementById('signin');
    if (signin != undefined) {
        signin.onclick = function (event) {
            window.location = '{% url 'login' %}';
            event.stopPropagation();
        }
    }
    var signup = document.getElementById('signup');
    if (signup != undefined) {
        signup.onclick = function (event) {
            window.location = '{% url 'registration' %}';
            event.stopPropagation();
        }
    }
    var signout = document.getElementById('signout');
    if (signout != undefined) {
        signout.onclick = function (event) {
            window.location = '{% url 'logout' %}';
            event.stopPropagation();
        }
    }
    var _new = document.getElementById('_new');
    if (_new != undefined) {
        _new.onclick = function (event) {
            window.location = '{% url 'new' %}';
            event.stopPropagation();
        }
    }
</script>
</body>
</html>

