{% extends 'channel/base.html' %}

{% block title %}Header{% endblock %}
{% block body %}
    <h1>{{ channel.title }}</h1>
    <div class="row">
        <div class="col-md-3">
            <img class='channel_img' src="{{ channel.image.url }}">
            <iframe width="560" height="315" src="{{ channel.video }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-9">
            <p>{{ channel.text }} </p>
        </div>
    </div>
    {% if user.is_authenticated %}
        <span class="plus" id="l{{ channel.id }}">+</span>
        <span class="number" id="n{{ channel.id }}">{{ channel.rating }}</span>
        <span class="minus" id="d{{ channel.id }}">-</span>
    {% else %}
        <span class="number" id="rating{{ channel.id }}">Рейтинг: {{ channel.rating }}</span>
    {% endif %}
    <h3>Comments</h3>
    {% for comment in channel.comment_set.all %}
        <div class="row">
            <div class="col-md-3">
                {{ comment.author.username }}
            </div>
            <div class="col-md-9">
                <p>{{ comment.text }} </p>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <div class="block blockanswer">
                <b style="margin-left:15px">Your comment:</b>
                <textarea name="text"></textarea>
                <input class="button" type="submit" value="Send">
            </div>
        </form>
    </div>
    <script>
        window.onload = function () {

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            });
            $(".plus, .minus").click(function () {
                id = this.id;
                $.ajax({
                    url: '/rate',
                    dataType: "json",
                    method: "POST",
                    data: {tp: id},
                    success: function (data, textStatus) {
                        $('#n' + id.substr(1)).text(data.new)
                    }
                })
            })
        };
    </script>
{% endblock %}